<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- CSS only -->
    <!-- 링크 써야 아이콘이 들어감!! -->

    <link th:href="@{/css/layouts/layout1.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragments/header.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragments/footer.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragments/sideBar.css}" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

     <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="js"></th:block>
</head>

<body>


    <div th:replace="fragments/header::header"></div>
    <div layout:fragment="content" class="content"></div>
    <div th:replace="fragments/footer::footer"></div>

</body>
</html>